In [1]:
from stdInfo import Student

student = Student(239)
student_info = student.std_info_dt()
print(student_info)

                Name  Year Student Number
0     Michael Thomas     1       24427517
1    Michael Mcguire     4       21908695
2     Jonathan Smith     4       21620116
3       Jaime Phelps     2       23128726
4    Nicole Hamilton     3       22926109
..               ...   ...            ...
234     Cindy Romero     1       24182999
235     Emily Miller     4       21598098
236    Angel Johnson     2       23369197
237   Gregory Martin     1       24832564
238    Melinda Hines     3       22922542

[239 rows x 3 columns]

In [2]:
from stdGrade import GrdSystem

students = GrdSystem(239)
student_grades = students.overall_dt_stdGrades()
print(student_grades)

                Name  Year Student Number  Subject_1  Subject_2  Subject_3  \
0     Michael Thomas     1       24427517       1.00       1.50       2.50
1    Michael Mcguire     4       21908695       2.50       5.00       1.00
2     Jonathan Smith     4       21620116       1.75       5.00       1.00
3       Jaime Phelps     2       23128726       1.75       1.75       1.75
4    Nicole Hamilton     3       22926109       2.25       2.75       1.50
..               ...   ...            ...        ...        ...        ...
234     Cindy Romero     1       24182999       1.00       2.75       1.50
235     Emily Miller     4       21598098       5.00       2.00       2.00
236    Angel Johnson     2       23369197       2.50       1.00       1.50
237   Gregory Martin     1       24832564       5.00       2.75       4.00
238    Melinda Hines     3       22922542       1.50       3.00       3.00

     Subject_4  Subject_5  Subject_6  Subject_7  Subject_8  Final Grade  \
0         1.75       2.25        NaN        NaN        NaN         1.86
1         1.00       1.25        NaN        NaN        NaN         1.44
2         1.50       2.75        NaN        NaN        NaN         1.75
3         2.25       1.00        5.0       5.00       1.75         1.71
4         1.50       1.50        5.0       3.00        NaN         2.08
..         ...        ...        ...        ...        ...          ...
234       4.00       2.50        NaN        NaN        NaN         2.02
235       2.00       1.75        NaN        NaN        NaN         1.94
236       3.00       1.25        4.0       2.75       3.00         2.12
237       1.75       1.25        NaN        NaN        NaN         1.92
238       2.00       1.00        1.5       2.75        NaN         2.11

     Subjects Failed
0                  0
1                  1
2                  1
3                  2
4                  1
..               ...
234                1
235                1
236                1
237                2
238                0

[239 rows x 13 columns]

In [4]:
student_grades.to_csv('tbl_4.csv', index=False)
print('Done')

Done